* {
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    padding: 3rem 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

ul li {
    margin: 1rem 1.5rem;
}

li:hover a {
    text-decoration: underline;
}

li a {
    padding: 1.8rem;
    color: gold;
    background-image: url(../../../Img/WoodenSign.png);
    background-position: center;
    background-size: 100%;
}